*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(fondo_portafolio.png);
}

.nav__menu{
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #121212;
    overflow: hidden;
    padding-top: 20px;
    box-shadow: 0 0 100px 10px; 
    }
    
    .menu{
    padding-top: 19px;
    }
    
    .nav__menu a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(218, 218, 218);
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    margin-left: 40px;
    box-sizing: content-box;
    padding: 20px;
    border-left: 6px solid #121212;
    letter-spacing: 1px;
    }
    
    .nav__menu a:hover{
    background-color: #222;
    border-left: 6px solid rgba(71, 71, 71, 0.867);
    }

    .main__contenido{
        font-size: 22px;
        height: 100vh;
        }
        
        .main__presentacion{
        
        width: 850px;
        height: 450px;
        text-align: center;
        margin: auto;
        align-items: center;
        color: rgb(218, 218, 218);
        font-size: 6vh;
        padding-top: 125px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        letter-spacing: 3.5px;
        }
        
        .main__principal{
        display: flex;
        height: 100vh;
        }
    
        .sobre_mi{

            color: rgb(218, 218, 218);
            width: 45%;
            height: auto;
            margin: auto;
            padding-bottom: 60px;
            }
            
            .sobre_mi p{
            text-align: start;
            padding: 0px 35px;
            font-size: 24px;
            }
            
            .sobre_mi h2, .tecnologias h2{
            text-align: center;
            font-size: 43px;
            padding: 30px;
            }
    
            .tecnologias{
                color: rgb(218, 218, 218);
                width: 45%;
                height: auto;
                margin: auto;
                margin-top: 200px;
                
            }
            .tecnologias_tabla{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: 770px;
                height: 350px;
            }
            
            .tecnologias_tabla svg{
            margin: auto;
            height: 120px;
            width: 120px;
            }