*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

:root {
    --main-color: rgb(1, 1, 36);
    --second-color: rgb(47, 0, 47);
    --text-color: #fff;
}

/* NAV */

body {
margin: 0;
font-family:'Inter', sans-serif;
background: linear-gradient(45deg, var(--main-color), var(--second-color));
color: var(--text-color);
}

nav {
    background: linear-gradient(95deg, var(--main-color), var(--second-color));
    padding: 1rem 0rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 4rem;
    font-size: 1.2rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.nav-a {
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'Inter';
    text-decoration: none;
    margin: 0;
    color: #fff;
}

/* SECTION */

section {
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
  }

section h2 {
    border-bottom: 2px solid var(--text-color);
    padding-bottom: 10px;
}

/* SECTION SOBRE MI */

.sobremi{display: flex; gap: 2rem ; align-items: center;}
.sobremi-p{width: 40rem;}

.sobremi-imagen{
width: 200px; height: 200px;
object-fit: cover;
border-radius: 50%;

}

    .main__contenido{
        font-size: 22px;
        
        }
        
        .main__presentacion{
        background-color: #c7c7c7   ;
        width: 40%;
        height: auto;
        text-align: center;
        margin-left:80px ;
        
        }
        
        .main__presentacion h1{
            color: #bb00ff;
            font-size: 80px;
        
        }
        
        .main__presentacion p{
            font-size: 15px;
            text-align: start;
            width: 70%;
            margin: auto;
            color: #555;
        }
        
        .main__principal{
        display: flex;
        align-items: center;
        margin-top: 100px;}
        
      
        .main-mis-redes svg{
        width: 40px;
        }
        
        .main-mis-redes svg:hover{
            transform: scale(1.2); 
                
            }
            
            .main-mis-redes{transition: transform 0.3s ease;}
            

        .main-principal-imagen
        {width: 46vw;
        height: 70vh;
        margin: auto;
        transition:  0.6s ease;
        background-image: url('yo-dibujo.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        }

        .proyectos-main{
            width: 100%;
            height: 700px;
            color: rgb(218, 218, 218);
            margin: auto;
            margin-top: 120px;
            border-radius: 30px;
            margin-top: 500px;
            }
            
            .proyectos-main h2{
                font-size: 46px;
                color: #333;
                padding-left: 17%;
                padding-bottom:30px ;}
            
            .span-proyectos{
                font-size: 46px;
                color: #bb00ff;
                padding-bottom:30px 
            
            }
            
            
            .proyectos-grilla{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 60px;
            width: 70%;
            margin: auto;
            }
            

            .imagen-proyecto1{
                border: 3px solid #c1c1c1; 
                background-image: url(Captura\ de\ pantalla\ \(12\).png);
                background-size: cover;
                background-position: center;
                height: 260px ; 
                width: 90%; 
                margin: auto;
                margin-top: 10px;
                transition: transform 0.3s ease;
                border-radius: 12px;
                opacity: 78%;
                padding: 20px;
                }
            
            .proyecto-1{
            width: 35%;
            height: auto;
            border: 3px solid #aaa;
            background-color: #c1c1c1;
            border-radius: 12px;
            padding: 10px;
            }
            
            .proyecto-1:hover{
                transform: scale(1.04); 
            }
            
            .proyecto-1{transition: transform 0.3s ease;}
            


.yo-sobre-mi{
width: 34%;
height: 300px;
object-fit: cover;
margin: auto;
padding: 0;
border-radius: 100%;
}

.sobre-mi-elementos{
    display: flex;
}


.sobre_mi p{
    text-align: start;
    padding: 25px 25px 0px 0;
    font-size: 23px;
    color: #555;
    width: 60%;
    }

.sobre_mi{
color: rgb(218, 218, 218);
width: 55%;
height: auto;
margin: auto;
padding-bottom: 60px;
background-color: #c1c1c1;
border-radius: 20px;
margin-top: 300px;

}

                
                
                .span-sobremi{
                    font-size: 46px;
                    color: #bb00ff;
                }
                .sobre_mi h2{
                font-size: 46px;
                padding: 20px;
                color: #333;
                background-color: #c7c7c7;
                }

                .tecnologias    {
                    background-color: #c1c1c1  ;
                    color: rgb(218, 218, 218);
                    width: 55%;
                    height: auto;
                    margin: auto;
                    margin-top: 250px;
                    border-radius: 20px;
                    margin-bottom: 100px;
                }
                
                
                .tecnologias h2, .herramientas h2{
                    color: #bb00ff;
                    font-size: 46px;
                    padding: 20px;
                background-color: #c7c7c7;
                    }
                
                .tecnologias_tabla, .herramientas_tabla{
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    grid-template-rows: repeat(2,auto);
                    width: 80%;
                    height: auto;
                    padding: 5% 0 5% 0;
                    margin: auto;
                }
                
                .tecnologias_tabla svg, .herramientas_tabla svg{
                margin: auto;
                height: 120px;
                width: 120px;
                padding:10px;
                }

                .herramientas{
                    background-color: #c1c1c1  ;
                    color: rgb(218, 218, 218);
                    width: 55%;
                    height: auto;
                    margin: auto;
                    margin-top: 250px;
                    border-radius: 20px;
                margin-bottom: 200px;
            }
            
           
.footer{
    width: 100%;
    height: 500px;
    background-color: #bbb;
}

.footer-items{
width: 70%;
height: 400px;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
}

.anclas-footer ul{
list-style: none;
background-color: #c7c7c7;
    padding: 30px;
    border-radius: 30px;    
}

.anclas-footer a{
    text-decoration: none;
    color: #333; 
}

.anclas-footer li{
    padding-top: 10px;

}

.anclas-footer a:hover{
    color: #bb00ff;
}

.sobre-mi-footer{
    background-color: #c7c7c7;
    padding: 30px;
    border-radius: 30px;
}

.sobre-mi-footer svg{
width: 50px;
}

.sobre-mi-footer svg:hover{
    transform: scale(1.2); 
        
    }
    
.sobre-mi-footer{transition: transform 0.3s ease;} 

.gracias-footer{
    font-size: 40px;
    padding: 30px;
    border-radius: 30px;
    color: #bb00ff;
}